header {
  background-image: url(https://images.unsplash.com/photo-1567541322648-38ac8a806395?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  width: 100%;
  height: 200px;
  background-color: white;
  opacity: 1;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sunny,
.cloudy,
.snow,
.windy {
  width: 100px;
  height: 100px;
  z-index: 10;
}

.header-button {
  font-size: 40px;
  background-image: url(https://images.unsplash.com/photo-1567541322648-38ac8a806395?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  border: none;
  color: white;
  border: none;
  z-index: 10;
}

/* navbar */
.clicked-menu {
  position: absolute;
  padding-left: 150px;
  top: -250px;
  width: 200px;
  height: 200px;
  /* background-image: url(https://images.unsplash.com/photo-1567541322648-38ac8a806395?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80); */
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.move-down {
  position: absolute;
  top: 100px;
  width: 200px;
  height: 200px;
  /* background-image: url(https://images.unsplash.com/photo-1567541322648-38ac8a806395?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80); */
}

.dropdown-items {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 100px;
  background-color: white;
}

.cities-header {
  display: flex;
}

.city {
  margin-right: 80px;
  color: whitesmoke;
  font-size: 30px;
}

/* getwheater */

.body-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1567541322648-38ac8a806395?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  width: 100%;
  height: 80vh;
  background-size: 100% 100%;
  margin-bottom: 200px;
}

.text {
  visibility: hidden;
  padding-top: 100px;
}

.newYork-box:hover,
.miami-box:hover,
.seattle-box:hover {
  background-image: none !important;
  background-color: #a0d9fa;
  transition: all 200ms ease-in;
  transform: scale(1.3);
}

.newYork-box:hover .text,
.miami-box:hover .text,
.seattle-box:hover .text {
  visibility: visible;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.newYork-box,
.miami-box,
.seattle-box {
  width: 200px;
  height: 300px;
  background-color: whitesmoke;
  opacity: 0.5;
  border-radius: 20px;
}

.newYork-box {
  background-image: url(https://cdn3.iconfinder.com/data/icons/famous-city-skyline/48/Sed-12-512.png);
  background-size: 100% 100%;
}

.miami-box {
  background-image: url(https://cdn3.iconfinder.com/data/icons/miami-thinline/512/thinline94-02-512.png);
  background-size: 100% 100%;
}

.seattle-box {
  background-image: url(https://getdrawings.com/free-icon-bw/space-needle-icon-2.png);
  background-size: 100% 100%;
}

/* display weathers */


body {
  background-color: whitesmoke;
}

.city-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
}

.day-one-image {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNVFiC56gdZL2A5qBasOdpywBnRSUPNG9gE7odqi0c95FJOnoU);
  background-size: 100% 100%;
}

.day-two-image {
  background-image: url(https://i.redd.it/ihfnlpbze7o01.jpg);
  background-size: 100% 100%;
}

.day-three-image {
  background-image: url(https://i.pinimg.com/originals/15/78/d7/1578d7060ffc9c248978026067c2dd12.jpg);
  background-size: 100% 100%;
}

.day-four-image {
  background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Weather-HD-Picture-620x388.jpg);
  background-size: 100% 100%;
}

.day-five-image {
  background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Weather-Images-620x465.jpg);
  background-size: 100% 100%;
}

.day-six-image {
  background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Weather-Wallpaper-Download-Free-620x349.jpg);
  background-size: 100% 100%;
}

.day-seven-image {
  background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Weather-HD-Wallpaper-620x388.jpg);
  background-size: 100% 100%;
}

.weekend {
  display: flex;
  justify-content: flex-start;
}

/* .day-one,
.day-two,
.day-three,
.day-four,
.day-five,
.day-six,
.day-seven {
  height: 360px;
  width: 240px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
} */

.text-box {
  width: 180px;
  height: 180px;
  border: 1px solid white;
  background-color: white;
  margin-top: 160px;
  border-radius: 10px;
}

.text-city {
  font-size: 15px;
  margin-left: 10px;
  margin: 5px;
}

.text-day {
  font-size: 13px;
  color: #42b3f5;
  margin-left: 10px;
  margin: 5px;
}

.text-weather {
  font-size: 10px;
  margin-left: 10px;
  margin: 5px;
}

.text-temp {
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 15px;
}

.text-prec,
.text-humidity {
  font-size: 10px;
  text-align: right;
  margin: 5px;
}

/* .clear-button {
  display: flex;
  justify-content: flex-end;
} */



.clear-buttons {
  display: flex;
  justify-content: space-around;
}

.clear {
  width: 130px;
  height: 70px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(97, 248, 253);
  border: 1px solid rgb(97, 248, 253);
  border-radius: 10px;
  color: rgb(245, 185, 185);
}

.clear:hover {
  background-color: #dddddd;
  border-color: #dddddd;
}



.editWeather {
  margin-top: 2px;
}

.day-one-image,
.day-two-image,
.day-three-image,
.day-four-image,
.day-five-image,
.day-six-image,
.day-seven-image {
  height: 360px;
  width: 240px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.addNewDay {
  margin-bottom: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.add-input {
  width: 80px;
  height: 20px;
  text-align: center;
  margin-right: 2px;
}